<!doctype html>
<html lang="en" ng-app="smeApp">

<head>
    <meta charset="utf-8">
    <title>Entersoft SME Samples</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/animations.css">

    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css" />

    
</head>

<body ng-controller="esPQCtrl">
    <div>
        <h1 ng-cloak>
            {{currentUser.Name}}
        </h1>
        <hr/>
    </div>
    <div>
        <input type="text" ng-model="GroupID" class="form-control" placeholder="Entersoft Public Query Group ID" required autofocus>
        <input type="text" ng-model="FilterID" class="form-control" placeholder="Entersoft Public Query Filter ID" required>
        <input type="text" ng-model="Code" class="form-control" placeholder="Code">
        <input kendo-numeric-text-box k-ng-model="OppRevenue" culture="el-GR"  spinners="false" />
        <div>
            <button es-analytics-on es-analytics-category="hello stavros" type="submit" ng-click="planB()">Execute</button>
            <button es-analytics-on es-analytics-category="hello stavros" type="submit" ng-click="planB(true)">ReBuild</button>
            <button es-analytics-on es-analytics-category="hello stavros" type="submit" ng-click="getPQInfo()">PQ Info</button>
        </div>
    </div>

    <div class='container' ng-cloak>
        <div kendo-grid k-ng-delay="gridOptions.columns" k-options="gridOptions" height="1000" k-rebind="xCount" />
    </div>

    <div>
        <textarea width="500" height="500" ng-show="pqInfo">{{pqInfo}}</textarea>
    </div>


    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngStorage/ngstorage.min.js"></script>
    <script src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script src="bower_components/stacktrace-js/dist/stacktrace.js"></script>
    <script src="bower_components/log4javascript/js/log4javascript.js"></script>
    <script src="http://www.google-analytics.com/analytics.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/jscache/cache.js"></script>
    <script src="../../src/esanalytics.js"></script>
    <script src="../../src/eswebcore.js"></script>
    <script src="../../src/eswebservices.js"></script>
    <script src="../../src/eslog.js"></script>
    <script src="../../src/esinit.js"></script>
    
    <!-- 
    <script src="../../dist/esframework.min.js"></script>
 -->
    
    <script src="telerik/js/jszip.min.js"></script>
    <script src="telerik/js/cultures/kendo.culture.el-GR.min.js"></script>
    <script src="telerik/js/kendo.all.min.js"></script>
    <script src="smejs/app.js"></script>
    <script src="smejs/espqcontroller.js"></script>
</body>

</html>
