 <div class="boxc-col">
        <label>{{esParamDef.Caption}}</label>
        <select kendo-combo-box
                k-placeholder="esParamDef.Tooltip"
                k-template="'<span><b>#: Code #</b> -- #: Description #</span>'"
                k-data-text-field="esParamDef.InvSelectedMasterField"
                k-data-value-field="esParamDef.InvSelectedMasterField"
                k-filter="'contains'"
                k-auto-bind="false"
                k-min-length="3"
                ng-model="esParamVal[esParamDef.ID]"
                k-data-source="esParamLookupDS">
        </select>
    </div>
